@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

.section {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-left: 2.5rem;
}

.texto {
  width: 55vw;
  margin-left: 5vw;
}
.texto p {
  margin: 30px 0;
}

.links li {
  display: inline-block;
}
.links img {
  width: 80px;
}
